<body class="bg-darkgray text-gray-900 text-base min-vh-100 flex flex-col">

    <div class="container mx-auto px-4 mt-2">
        <div class="md:flex justify-between items-center py-1">
            <a href="#"><img class="h-16 py-1" src="i/coalition.png" /></a>
            <ul class="md:flex -mx-2 py-1">
                <li><a class="px-2 no-underline" href="vision">The New Vision</a></li>
                <li><a class="px-2 no-underline" href="evidence">Evidence</a></li>
            </ul>
        </div>
    </div>